# ⚙️ Node.js
node_modules/
dist/
.env
.DS_Store

# 🔧 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ⚒️ Vite
.vite/
.vscode/
*.local

# 💻 System
Thumbs.db
*.swp
*.swo

# 🔒 OS/Editor-Specific
.idea/
*.log
*.lock
*.bak
